// place your custom styles here
.vp-blog-hero-title,.vp-blog-hero-description{
  font-family: '华文隶书';
}
.hitokoto{
  font-family: '华文行楷';
}
.vp-blog-hero-image{
  border-radius: 50%;
}
//.vp-portfolio-container{
//  background-image: url("/assets/images/stare.jpg");
//  background-size: auto 100%;
//  background-repeat: no-repeat;
//  background-position: center;
//}